/*
=============== 
Footer
===============
*/
.footer-benefits {
  color: #fff;
  background: linear-gradient(#a95b36, #6c6c6c);
  background-image: linear-gradient(to top, #6c6c6c, rgba(0, 0, 0, 0)), url("../assets/images/banners/hero-home-banner2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
}

@media screen and (width >= 768px) {
  .footer-benefits {
    margin-bottom: 6.25rem;
  }
}

.footer-benefits::before {
  content: "";
  background-image: url("../assets/images/components/lines-footer-bg.webp");
  background-size: 433.3333333333px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-benefits::after {
  content: "";
  background: linear-gradient(to top, #a95b36, #6c6c6c);
  opacity: 0.5;
  mix-blend-mode: color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.benefits-content {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.benefits-content h4 {
  flex-basis: 100%;
  font-family: Inter, sans-serif;
  font-size: 1.19rem;
  font-weight: 700;
}

.benefits-content p {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 500;
  font-size: 0.94rem;
}

.benefits-content > * {
  flex-basis: 18.75rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 0 3rem;
  text-wrap: wrap;
}

.benefits-content img {
  min-width: 3.125rem;
  height: auto;
}

@media screen and (width >= 768px) {
  .benefits-content {
    justify-content: space-between;
    column-gap: 0;
    transition: column-gap 0.5s ease;
  }

  .benefits-content > * {
    flex-basis: 6.25rem;
    flex-direction: row;
    column-gap: 1.5rem;
    padding: 0 1rem;
  }
}

@media screen and (width >= 1024px) {
  .benefits-content {
    column-gap: 2.5rem;
  }
}

@media screen and (width >= 1440px) {
  .benefits-content {
    column-gap: 5rem;
  }

  .benefits-content > * {
    padding: 0;
  }
}

.footer-links {
  max-width: 1300px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin: 0 auto 3rem;
  padding: 0 1.5rem;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  font-size: 0.94rem;
}

@media screen and (width >= 768px) {
  .footer-links {
    flex-direction: row-reverse;
    align-items: self-start;
    column-gap: 4rem;
    padding: 0 1rem;
    margin: 0 auto 6.25rem;
    transition: column-gap 0.5s ease;
  }
}

@media screen and (width >= 1024px) {
  .footer-links {
    column-gap: 10rem;
    padding: 0 1.25rem;
  }
}

@media screen and (width >= 1440px) {
  .footer-links {
    column-gap: 12rem;
    padding: 0;
  }
}

.contact-us {
  display: flex;
  flex-flow: column wrap;
  text-wrap: wrap;
}

.contact-us > p:nth-of-type(2) {
  margin-bottom: 2rem;
  width: 95%;
}

.contact-us > div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
  transition: margin-bottom 0.5s ease;
}

@media screen and (width >= 768px) {
  .contact-us {
    flex-direction: row;
    column-gap: 1.5rem;
  }

  .contact-us > p {
    flex-basis: 100%;
  }

  .contact-us > p:nth-of-type(2) {
    margin-bottom: 4rem;
    text-wrap: balance;
    width: 80%;
  }

  .contact-us > div {
    flex-basis: 13.125rem;
    display: flex;
    margin-bottom: 1.25rem;
  }
}

@media screen and (width >= 1024px) {
  .contact-us > div {
    margin-bottom: 1.5rem;
  }
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: start;
  align-items: flex-start;
}

.info-block > * {
  flex-basis: 12.5rem;
}

@media screen and (width >= 768px) {
  .info-block {
    justify-content: space-between;
    row-gap: 3rem;
  }

  .info-block > * {
    flex-basis: 30%;
  }
}

.about-us p,
.interesting-links p,
.achievements p,
.shopping-info p:first-of-type,
.contact-us > p:first-of-type {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 700;
  font-size: 0.94rem;
  margin-bottom: 1rem;
}

@media screen and (width >= 768px) {
  .about-us p,
  .interesting-links p,
  .achievements p,
  .shopping-info p:first-of-type,
  .contact-us > p:first-of-type {
    margin-bottom: 2rem;
  }
}

.shopping-info {
  flex-basis: 100%;
}

footer > p {
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 3rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
}

.link-text {
  position: relative;
  transition: color 0.3s ease;
}

.link-text::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #a95b36;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.link-text:hover, .link-text:active {
  color: #a95b36;
}

.link-text:hover::before, .link-text:active::before {
  width: 100%;
}
