/*
=============== 
Header
===============
*/
header {
  margin-bottom: 4.8rem;
}

@media screen and (width >= 768px) {
  header {
    margin-bottom: 0;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(0.75rem);
  box-shadow: inset 0 -0.25rem 0.5rem rgba(255, 255, 255, 0.5);
}

@supports not (backdrop-filter: blur(0.75rem)) {
  nav {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

@media screen and (width >= 768px) {
  nav {
    background-color: #fff;
    position: sticky;
  }
}

.nav-center {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 1fr 5rem;
  padding: 1.5rem 1rem 1rem;
  align-items: center;
}

@media screen and (width >= 768px) {
  .nav-center {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    padding: 2rem 1rem 0;
  }

  .nav-center .icons {
    flex-direction: row;
  }

  .nav-center .icons li {
    margin-right: 0.25rem;
  }
}

.logo-link {
  grid-column: 2/3;
  color: #a95b36;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 3.125rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo img:hover, .logo img:active {
  transform: scale(0.9);
  color: #a95b36;
}

@media screen and (width >= 768px) {
  .logo img {
    height: 5rem;
  }
}

.icons {
  grid-column: 3/4;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

.icons li {
  margin-left: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons li:hover, .icons li:active {
  transform: scale(0.9);
  color: #a95b36;
}

.icons li {
  position: relative;
}

.bars-menu {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bars-menu .bar {
  display: block;
  width: 100%;
  height: 0.12rem;
  background-color: #000;
  border-radius: 0.1rem;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transform-origin: left;
}

.bars-menu .bar:nth-child(2) {
  transform: scaleX(0.7);
}

.bars-menu .bar:nth-child(3) {
  transform: scaleX(0.4);
}

.nav-toggle {
  grid-area: 1/1/2/2;
  color: #000;
  background: transparent;
  border-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.nav-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (width >= 768px) {
  .nav-toggle {
    display: none;
  }
}

.social-media {
  grid-area: 3/1/4/4;
  display: flex;
  padding-left: 3rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.social-media.is-shown {
  max-height: 80vh;
}

.social-media li {
  margin-right: 3rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-media li:hover, .social-media li:active {
  transform: scale(0.9);
  color: #a95b36;
}

@media screen and (width >= 768px) {
  .social-media {
    grid-area: 1/1/2/2;
    opacity: 1;
    top: 0;
    padding: 0;
    transition: none;
    max-height: none;
    overflow: visible;
  }

  .social-media li {
    margin-right: 1rem;
  }
}

.nav-links {
  grid-area: 2/1/3/4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.nav-links.is-shown {
  max-height: 80vh;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 700;
  padding: 3rem;
}

.nav-links ul li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: color 0.3s ease;
}

.nav-links ul li:hover, .nav-links ul li:active {
  color: #a95b36;
}

@media screen and (width >= 768px) {
  .nav-links {
    grid-area: 2/1/3/4;
    max-height: none;
    overflow: visible;
    border-top: 1px solid #cedadb;
    padding: 1.5rem 0;
  }

  .nav-links ul {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .nav-links ul li {
    margin: 0 1.5rem 0 0;
  }
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentcolor;
  display: inline-block;
  vertical-align: middle;
}

.shop-icon {
  width: 1.55rem;
  height: 1.55rem;
  fill: currentcolor;
  display: inline-block;
  vertical-align: middle;
}

.person.shop-icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: currentcolor;
  display: inline-block;
  vertical-align: middle;
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-counter {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: #a95b36;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: none;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.login.modal-btn {
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.login.modal-btn:hover, .login.modal-btn:active {
  color: #a95b36;
}

.active-page {
  color: #a95b36;
}
