@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*
=============== 
Catalog
===============
*/

.catalog {
  @include content;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: $space-xxl;
  margin: $section-spacing-md auto $section-spacing-lg;
  padding: 0 $space-default;

  @include screen(tablet) {
    padding: 0 $space-md;
    margin-top: $space-xxl;
  }

  @include screen(desktop) {
    column-gap: $space-xxl;
    grid-template-columns: 2fr 1fr;
    padding: 0 $space-default;
    align-content: center;
  }

  @include screen(wide) {
    grid-template-columns: 2fr 1fr;
  }
}

.catalog-container {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: $space-default $space-xs;
  margin-bottom: $section-spacing-sm;

  @include screen(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: $container-products-width;
    width: 100%;
    margin: 0 auto $section-spacing-sm;
  }

  @include screen(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filters {
  font-size: $font-size-base;
  color: $color-grey;

  @include flex-center(column, space-between, center);

  row-gap: $space-xl;
  position: relative;

  @include screen(desktop) {
    grid-area: 1/1/2/2;
  }
}

.info-filter-container {
  @include flex-center(column-reverse);

  row-gap: $space-sm;
  width: 100%;

  @include screen(tablet) {
    @include flex-center(row, space-between, center);

    width: 100%;
  }
}

.results-info {
  flex-basis: 50%;
}

.sorting-box {
  @include flex-center(row-reverse);

  column-gap: $space-default;
  width: 100%;

  @include screen(tablet) {
    @include flex-center(row, end, center);
  }
}

.show-filter-icon {
  color: $color-grey;
  font-size: $font-size-text-md;
  background: transparent;
  cursor: pointer;
  transition: color $transition-default;

  svg {
    @include icon-base;

    &:hover {
      @include icon-hover-effect;
    }
  }

  &:hover {
    color: $color-accent;
  }

  @include screen(tablet) {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }
}

.filter-btn {
  background-color: $color-accent;
  color: $color-bg;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.filtering {
  gap: $space-sm;

  @include flex-center(column, start);

  position: absolute;
  top: 100%;
  transform: translateY(0);
  z-index: 20;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition-slow, transform $transition-slow, opacity $transition-default;
  padding: $space-md;
  background: $color-bg;
  pointer-events: none;
  opacity: 0;

  &.show-filters {
    max-height: 100vh;
    overflow: visible;
    pointer-events: all;
    opacity: 1;
    transform: translateY(10%);
    box-shadow: $shadow-md $color-shadow;
  }

  @include screen(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1fr;
    align-items: self-start;
    gap: $section-spacing-sm $space-xs;
  }
}

.filter-name {
  font-weight: $font-weight-bold;
  margin-bottom: $space-sm;
}

.control-btns {
  @include flex-center;

  width: 100%;
  gap: $space-xs;

  @include screen(tablet) {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.sales-filter-wrapper {
  display: flex;
  flex-direction: row;
  align-self: self-start;
  margin-left: $space-xs;
  gap: $space-sm;

  @include screen(tablet) {
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
}

.toggle-switch-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-label {
  cursor: pointer;
  position: relative;
  justify-self: center;
  margin: 0;

  @include screen(tablet) {
    margin: $space-xs 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $switch-width;
    height: $switch-height;
    border-radius: $switch-height;
    background-color: $color-bg;
    border: 1px solid $color-shadow;
    transition: background-color $transition-default;
  }

  &::before {
    content: '';
    position: absolute;
    top: $switch-space-thumb;
    left: $switch-space-thumb;
    width: $switch-thumb-size;
    height: $switch-thumb-size;
    border-radius: 50%;
    background: $color-primary;
    transition: transform $transition-default;
    z-index: 1;
  }
}

.toggle-switch-input:checked+.toggle-switch-label {
  &::after {
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }

  &::before {
    transform: translateX(calc($switch-width - $switch-thumb-size - (2 * $switch-space-thumb)));
    background: $color-bg;
  }
}

.hide-filters,
.reset-button {
  font-size: $font-size-text-sm;
  cursor: pointer;
  width: 100%;
  padding: 0;
  height: $hide-btn-height;
  text-transform: uppercase;
}

#category-filter {
  position: relative;
  z-index: $z-dropdown;
}

#color-filter {
  z-index: $z-dropdown + 1;
}

#size-filter {
  z-index: $z-dropdown + 2;
}

.filter-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: $form-textarea-sm;
  border: 1px solid $color-light-grey;
  border-top: none;
  background-color: $color-bg;
  list-style: none;
  padding: 0 $space-xxs;
  margin: 0;
  width: 100%;

  li {
    padding: $space-xs $space-sm;

    &:hover {
      background-color: $color-light-grey;
    }
  }
}

.filter-options li.selected,
.filter-toggle-btn[data-filter-value="true"] {
  background-color: $color-accent;
  font-weight: $font-weight-bold;
  color: $color-bg;
}

.filter-dropdown {
  position: relative;
  list-style: none;
  padding: $space-xs $space-xxs;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: auto;

  &:hover .filter-options {
    display: block;
  }

  @include screen(tablet) {
    padding: 0;
  }
}

.filter-dropdown.open .filter-options {
  display: block;
}

.filter-main-btn {
  padding: $space-xs $space-sm;
  border: 1px solid $color-shadow;
  border-radius: $border-radius-sm;
  background-color: $color-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $color-grey;
  font-size: $font-size-text-xs;

  .arrow {
    margin-left: $space-xs;
    font-size: $font-size-accent-xs;
  }

  @include screen(desktop) {
    padding: $space-xs;
  }
}

.filter-dropdown .filter-main-btn.active-filter {
  border: 2px solid $color-accent;
  font-weight: $font-weight-bold;
}

.filter-toggle-btn.active {
  background-color: $color-accent;
  color: $color-bg;
}

.default-sorting {
  appearance: none;
  background-color: $color-bg;
  border: 1px solid $color-shadow;
  border-radius: $border-radius-sm;
  padding: $space-xs $space-xl $space-xs $space-sm;
  cursor: pointer;
  font-size: $font-size-text-md;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;
}

.sort-select-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  @include screen(tablet) {
    width: 50%;
  }
}

.sort-select-wrapper::after {
  content: "▼";
  position: absolute;
  top: $space-lg;
  right: $space-sm;
  transform: translateY(-50%);
  pointer-events: none;
  color: $color-grey;
  font-size: $font-size-accent;
}

.search-container {
  grid-row: 1/2;
  align-content: end;
}

.search-input-wrapper {
  display: flex;
  border: 1px solid $color-light-grey;
  border-radius: $border-radius-sm;
  transition: border-color $transition-default;

  &:focus-within {
    border-color: $color-secondary;
  }
}

#search-models {
  border: none;
  padding: $space-xs;
  outline: none;
  width: 100%;

  &::placeholder {
    color: $color-secondary;
  }

  &:focus::placeholder {
    color: transparent;
    opacity: 0;
    transition: opacity $transition-default;
  }
}

.search-button {
  border: none;
  background: none;
  padding: 0 $space-xs;
  cursor: pointer;
}

.no-products {
  grid-area: 1/1/2/4;
  justify-items: center;
  text-align: center;
  padding: $space-xxl 0;
  margin: 0 auto;
  color: $color-grey;

  p:nth-child(2) {
    margin-bottom: $space-default;
  }
}

.no-products-title {
  font-size: $font-size-h4;
  text-wrap: balance;
  font-weight: $font-weight-bold;

}

.side-products {
  @include flex-center(column);

  @include screen(desktop) {
    display: block;
  }

  h4 {
    margin-bottom: $space-lg;
  }
}

.set-card {
  @include flex-center(row, start, start);

  gap: $space-md;
  font-size: $font-size-text-sm;
  margin-bottom: $space-md;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: $icon-thumbnail;

  }
}

.stars-container {
  position: relative;
  display: inline-block;
  font-size: $font-size-text-md;
}

.product-rating {
  position: relative;
  display: inline-block;
  width: $icon-xxl;
  height: $space-default;
  letter-spacing: $stars-spacing;

  &::after {
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    width: $icon-xxl;
    color: $color-grey;
    z-index: 1;
  }

  &::before {
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    width: $icon-xxl;
    color: $color-yellow;
    overflow: hidden;
    z-index: 2;
    clip-path: inset(0 calc($icon-xxl - var(--rating) * $star-unit) 0 0);
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $section-spacing-sm;

  @include screen(desktop) {
    margin-bottom: 0;
  }
}

.page-btn {
  width: $icon-default;
  height: $icon-default;
  background: transparent;
  border-radius: $border-radius;
  cursor: pointer;
  margin: $space-xs;
  transition: border $transition-default;

  &:hover {
    border-radius: $border-radius;
    border: 2px solid $color-accent;
  }
}

.active-btn {
  background: $color-accent;
  color: $color-bg;
}

.prev-btn {
  &::before {
    content: '<';
    position: relative;
    right: $space-xs;
    font-size: $font-size-text-xs;
  }
}

.next-btn {
  &::after {
    content: '>';
    position: relative;
    left: $space-xs;
    font-size: $font-size-text-xs;
  }
}

.prev-btn,
.next-btn {
  height: $icon-default;
  padding: 0 $space-md;
  background: transparent;
  border: 2px solid $color-accent;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  font-size: $font-size-accent-xs;
  transition: color $transition-default, background-color $transition-default;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $color-accent;
    color: $color-bg;
  }
}

.prev-btn:disabled,
.next-btn:disabled {
  background-color: transparent;
  color: $color-grey;
  border: 2px solid $color-grey;
  cursor: not-allowed;
  opacity: 0.4;
}