@use '../abstracts/variables' as *;

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v31-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v31-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/montserrat-v31-latin_latin-ext-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v20-latin-700.woff2') format('woff2');
}


html {
  font-size: $font-size-base;
}

body {
  font-family: $font-primary;
  color: $color-primary;
  background-color: $color-bg;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: $font-primary;
}

h1 {
  font-size: clamp($font-size-h3, 5vw, $font-size-h1);
  font-weight: $font-weight-black;
  line-height: 1.25;
}

h2 {
  font-size: clamp($font-size-h4, 4vw, $font-size-h2);
  font-weight: $font-weight-black;
  line-height: 1.3;

}

h3 {
  font-size: $font-size-h3;
}