@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*
=============== 
Footer
===============
*/

.footer-benefits {
  color: $color-bg;
  background: linear-gradient($color-accent, $color-secondary);
  background-image: linear-gradient(to top,
  $color-secondary ,rgba(0, 0, 0, 0)),
    url("../assets/images/banners/hero-home-banner2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: $section-spacing-sm;
  position: relative;
  overflow: hidden;

  @include screen (tablet) {
    margin-bottom: $section-spacing-md;
  }

  &::before {
    content: "";
    background-image: url("../assets/images/components/lines-footer-bg.webp");
    background-size: calc($max-width-content / 3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    background: linear-gradient(to top,
    $color-accent,
    $color-secondary);
    opacity: 0.5;
    mix-blend-mode: color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.benefits-content {
  @include content;

  margin: 0 auto;
  padding: $space-xxl 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  row-gap: $space-lg;

  h4 {
    flex-basis: 100%;

    @include footer-main-heading;
  }

  p {
    @include footer-text;
  }

  &>* {
    flex-basis: calc($flex-col * 3);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $space-sm;
    padding: 0 $space-xxl;
    text-wrap: wrap;
  }

  img {
    min-width: $icon-xl;
    height: auto;
  }

  @include screen(tablet) {
    justify-content: space-between;
    column-gap: 0;
    transition: column-gap $transition-slow;

    &>* {
      flex-basis: $flex-col;
      flex-direction: row;
      column-gap: $space-lg;
      padding: 0 $space-sm;
    }
  }

  @include screen(desktop) {
    column-gap: $space-xl;

  }

  @include screen(wide) {
    column-gap: calc($space-xl * 2);

    &>* {
      padding: 0;
    }
  }
}

.footer-links {
  @include content;

  display: flex;
  flex-direction: column;
  row-gap: $space-lg;
  margin: 0 auto $space-xxl;
  padding: 0 $space-lg;

  @include footer-text($font-weight-regular);

  @include screen(tablet) {
    flex-direction: row-reverse;
    align-items: self-start;
    column-gap: $section-spacing-sm;
    padding: 0 $space-sm;
    margin: 0 auto $section-spacing-md;
    transition: column-gap $transition-slow;
  }

  @include screen(desktop) {
    column-gap: calc($section-spacing-lg * 1.25);
    padding: 0 $space-md;
  }

  @include screen(wide) {
    column-gap: calc($section-spacing-lg * 1.5);
    padding: 0;
  }
}

.contact-us {
  display: flex;
  flex-flow: column wrap;
  text-wrap: wrap;

  &>p:nth-of-type(2) {
    margin-bottom: $space-default;
    width: $container-width-lg;
  }

  &>div {
    display: flex;
    align-items: center;
    column-gap: $space-sm;
    margin-bottom: $space-lg;
    transition: margin-bottom $transition-slow;
  }

  @include screen(tablet) {
    flex-direction: row;
    column-gap: $space-lg;

    &>p {
      flex-basis: 100%;
    }

    &>p:nth-of-type(2) {
      margin-bottom: $section-spacing-sm;
      text-wrap: balance;
      width: $container-width;
    }

    &>div {
      flex-basis: $flex-col-md;
      display: flex;
      margin-bottom: $space-md;
    }
  }

  @include screen (desktop) {
    &>div {
      margin-bottom: $space-lg;
    }
  }
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  row-gap: $space-default;
  justify-content: start;
  align-items: flex-start;

  &>* {
    flex-basis: calc($flex-col * 2);
  }

  @include screen(tablet) {
    justify-content: space-between;
    row-gap: $space-xxl;

    &>* {
      flex-basis: $flex-col-sm;
    }
  }

}

.about-us p,
.interesting-links p,
.achievements p,
.shopping-info p:first-of-type,
.contact-us>p:first-of-type {
  @include footer-small-heading;
}

.shopping-info {
  flex-basis: 100%;
}

footer>p {
  @include footer-copyright;
}

.link-text {
  @include link-hover-effect;
}