@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*
=============== 
Header
===============
*/

header {
  margin-bottom: $nav-offset-mobile;

  @include screen(tablet) {
    margin-bottom: 0;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;

  @include glass-bg($color-bg, 0.75rem, 0.6);

  @include screen(tablet) {
    background-color: $color-bg;
    position: sticky;
  }
}

.nav-center {
  @include content;

  margin: 0 auto;
  display: grid;
  grid-template-columns: $nav-col-left 1fr $nav-col-right;
  padding: $space-lg $space-sm $space-sm;
  align-items: center;

  @include screen(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: $space-xxl;
    padding: $space-lg + $space-xs $space-sm 0;

    .icons {
      flex-direction: row;

      li {
        margin-right: $space-xxs;
      }
    }
  }
}

.logo-link {
  grid-column: 2/3;
  color: $color-accent;
}

.logo {
  @include flex-center;

  img {
    height: $icon-xl;

    @include icon-hover-effect;

    @include screen(tablet) {
      height: $icon-xxl;
    }
  }
}

.icons {
  grid-column: 3/4;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;

  li {
    margin-left: $space-sm;

    @include icon-hover-effect;

    position: relative;
  }
}


.bars-menu {
  position: relative;
  width: $icon-lg;
  height: $icon-lg;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .bar {
    @include burger-menu;

    &:nth-child(2) {
      transform: scaleX($burger-bar-middle);
    }

    &:nth-child(3) {
      transform: scaleX($burger-bar-short);
    }
  }
}

.nav-toggle {
  grid-area: 1 / 1 / 2 / 2;
  color: $color-primary;
  background: transparent;
  border-color: transparent;
  transition: all $transition-fast;
  cursor: pointer;

  &.active {
    .bar:nth-child(1) {
      transform: rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  @include screen(tablet) {
    display: none;
  }
}

.social-media {
  grid-area: 3 / 1 / 4 / 4;
  display: flex;
  padding-left: $space-xxl;

  @include expandable-menu;

  li {
    margin-right: $space-xxl;

    @include icon-hover-effect;
  }

  @include screen(tablet) {
    grid-area: 1 / 1 / 2 /2;
    opacity: 1;
    top: 0;
    padding: 0;
    transition: none;
    max-height: none;
    overflow: visible;

    li {
      margin-right: $space-sm;
    }
  }
}

.nav-links {
  grid-area: 2 / 1 / 3 / 4;

  @include expandable-menu;

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 700;
    padding: $space-xxl;

    li {
      margin-bottom: $space-lg;
      display: flex;
      align-items: center;
      gap: $space-xxs;
      transition: color $transition-default;

      &:hover,
      &:active {
        color: $color-accent;
      }
    }
  }

  @include screen(tablet) {
    grid-area: 2 / 1 / 3 / 4;
    max-height: none;
    overflow: visible;
    border-top: 1px solid $color-light-grey;
    padding: $space-lg 0;

    ul {
      flex-direction: row;
      justify-content: center;
      padding: 0;

      li {
        margin: 0 $space-lg 0 0;
      }
    }
  }
}

.social-icon {
  @include icon-base($icon-sm);
}

.shop-icon {
  @include icon-base($icon-md);
}

.person.shop-icon {
  @include icon-base($icon-lg);
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-counter {
  position: absolute;
  top: -$space-xs;
  right: -$space-xs;
  background-color: $color-accent;
  color: $color-bg;
  font-size: $font-size-accent-sm;
  font-weight: $font-weight-bold;
  border-radius: 50%;
  width: $icon-sm;
  height: $icon-sm;
  display: none;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.login.modal-btn {
  background: transparent;
  cursor: pointer;
  transition: color $transition-default;

  &:hover,
  &:active {
    color: $color-accent;
  }
}

.active-page {
  color: $color-accent;
}