@use "../abstracts/variables" as *;
@use 'sass:map';

$breakpoints: (
  tablet: 768px,
  desktop: 1024px,
  wide: 1440px
);

@mixin screen($device) {
  @media screen and (min-width: map.get($breakpoints, $device)) {
    @content;
  }
}

// Container width
@mixin content($max-width: $max-width-content) {
  max-width: $max-width;
  width: 100%;
  height: auto;
}

// Icons
@mixin icon-base($size: $icon-sm, $color: currentColor) {
  width: $size;
  height: $size;
  fill: $color;
  display: inline-block;
  vertical-align: middle;
}

@mixin icon-hover-effect($ammount: 0.9) {
  transition: color $transition-default, transform $transition-default;

  &:hover,
  &:active {
    transform: scale($ammount);
    color: $color-accent;
  }
}

@mixin burger-menu {
  display: block;
  width: 100%;
  height: $burger-bar-height;
  background-color: $burger-color;
  border-radius: $burger-bar-radius;
  transition: transform $transition-slow, opacity $transition-default;
  transform-origin: left;
}

@mixin expandable-menu($height: 80vh) {
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition-slow;

  &.is-shown {
    max-height: $height;
  }
}

// Flexbox center
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Typography

@mixin default-text($color: $color-secondary, $weight: $font-weight-regular) {
  color: $color;
  font-size: $font-size-base;
  font-weight: $weight;
  margin-bottom: $space-lg;

  @include screen(tablet) {
    font-size: $font-size-text-md;
  }
}

@mixin link-hover-effect($width: 100%) {
  position: relative;
  transition: color $transition-default;

  &::before {
    content: "";
    position: absolute;
    bottom: -$space-xxs;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $color-accent;
    transition: width $transition-default, left $transition-default;
    transform: translateX(-50%);
  }

  &:hover,
  &:active {
    color: $color-accent;

    &::before {
      width: $width;
    }
  }
}

@mixin carousel-text($weight: $font-weight-regular) {
  font-family: $font-primary;
  font-weight: $weight;
  font-size: $font-size-text-xl;
}

@mixin highlight-text($color: $color-primary, $weight: $font-weight-bold) {
  color: $color;
  font-size: $font-size-text-lg;
  font-weight: $weight;

  @include screen(tablet) {
    font-size: $font-size-text-xxl;
  }
}

@mixin jumbo-text {
  font-size: $font-size-hero;
  font-weight: $font-weight-black;
  font-family: $font-primary;
  line-height: 1;
}

@mixin reviews-section-header {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-text-md;
  color: $color-primary;
}

// Footer typography
@mixin footer-main-heading {
  font-family: $font-accent;
  font-size: $font-size-text-xl;
  font-weight: $font-weight-bold;
}

@mixin footer-small-heading {
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  font-size: $font-size-text-sm;
  margin-bottom: $space-sm;

  @include screen(tablet) {
    margin-bottom: $space-default;
  }
}

@mixin footer-text($weight: $font-weight-medium) {
  font-family: $font-secondary;
  font-weight: $weight;
  font-size: $font-size-text-sm;
}

@mixin footer-copyright {
  color: rgba($color-primary, 0.35);
  margin-bottom: $space-xxl;
  font-family: $font-accent;
  font-weight: $font-weight-regular;
  font-size: $font-size-text-xs;
  text-align: center;
}

// Effects

@mixin glass-bg($color: $color-bg, $blur-amount: 0.75rem, $opacity: 0.5) {
  background-color: rgba($color, $opacity);
  backdrop-filter: blur($blur-amount);
  box-shadow: inset 0 (-$space-xxs) $space-xs rgb($color-bg, 0.5);

  @supports not (backdrop-filter: blur($blur-amount)) {
    background-color: rgba($color, 90%);
  }
}

@mixin hero-fade-in-animation {
  animation: fade-in 1s ease-in-out 0.3s forwards,
    floating 5s ease-in-out 1.3s infinite;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20rem);
      filter: blur(3rem);
    }

    30% {
      opacity: 1;
      transform: translateY(-5rem);
      filter: blur(0);
    }

    60% {
      opacity: 1;
      transform: translateY(3rem);
      filter: blur(0);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  @keyframes floating {
    0% {
      transform: translateY(0) rotate(0);
    }

    50% {
      transform: translateY(-1.5rem) rotate(-1deg) rotateY(10deg) rotateX(5deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @include screen(tablet) {
    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateY(40rem);
        filter: blur(3rem);
      }

      30% {
        opacity: 1;
        transform: translateY(-10rem);
        filter: blur(0);
      }

      60% {
        opacity: 1;
        transform: translateY(5rem);
        filter: blur(0);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
      }
    }

    @keyframes floating {
      0% {
        transform: translateY(0) rotate(0);
      }

      50% {
        transform: translateY(-2rem) rotate(-1deg) rotateY(10deg) rotateX(5deg);
      }

      100% {
        transform: translateY(0) rotate(0);
      }
    }
  }
}

@mixin shiny-hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, 
  hsl(0deg 0% 100% / 0) 0%, 
  hsl(0deg 0% 100% / 0.5) 100%);
  transform: skewX(-25deg) translateX(-200%);
  transition: transform 0.6s ease;
}

// Pages related

@mixin carousel-wrap {
  max-width: 350px;
  width: 100%;

  @include screen(tablet) {
    @include content;

    width: 650px;
  }

  @media (width >=900px) and (width <=1200px) {
    width: 900px;
  }

  @media screen and (width >=1200px) {
    width: 1200px;
  }

  @media screen and (width >=1300px) {
    width: 1300px;
    transition: width $transition-slow;
  }
}

@mixin carousel-columns {
  flex: 0 0 100%;

  @include screen(tablet) {
    flex: 0 0 50%;
  }

  @media (width >=900px) and (width <=1200px) {
    flex: 0 0 calc(100% / 3);
  }

  @media screen and (width >=1200px) {
    flex: 0 0 25%;
  }
}

@mixin cart-grid-base {
  display: grid;
  place-items: center center;
  font-size: $font-size-text-md;
  font-weight: $font-weight-bold;
  font-family: $font-primary;
}

@mixin thumbnail-gallery {
  img {
    width: 100%;
    max-width: 25%;
    padding: $space-xs;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  &>:nth-child(2) {
    filter: brightness(0.75) contrast(1.7);
  }

  &>:nth-child(3) {
    filter: brightness(1.1) saturate(0.9);
  }

  &>:nth-child(4) {
    filter: grayscale(0.3);
  }
}